<!DOCTYPE html>
<html>
	<head>
		<title>scroll2lol: Confirmation email</title>
    </head>
    <body style="color: white; background-color: #3E536E; padding: 0 10px 10px 10px;">
		<h3 style="background-color: #B8C569; padding: 5px; text-align: center;">scroll 2 lol registration</h3>
		<span>Please click the following link or copy and paste it into your browser in the next 24 hours to complete the registration process:</span>
		<br />
		<br />
		<span style="background-color: #C8D579; padding: 5px;">@@{Application.activateUser(token)}</span>
	</body>
</html>