/** Main layout **/

html, body {
    background-color: #364b66 !important;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}

::selection
{
	color: #ffffff;
	background-color: #69b8c4;
}

::-moz-selection
{
	color: #ffffff;
	background-color: #69b8c4;
}

a {
   outline: 0;
}

/** Blog header **/

#header {
    padding: 10px 0;
    position: relative;
}

#logo {
    display: block;
    height: 49px;
    margin-left: 20px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
}

#logo a {
    text-decoration: none;
    color: #fff;
}

#logo span {
    color: #f00;
    font-size: 70%;
}

#tools {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 30px;
    right: 20px;
	background-color: #556172;
	border-radius: 10px;
	z-index: 999;
}

#tools:hover {
    border-radius: 10px 10px 0 0;
}

#tools a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 140px;
    padding: 1px 5px;
    text-align: center;
	overflow: hidden;
}

#tools a:hover {
    background-color: #00a5f0;
    color: #F6FFA6;
    font-weight: 600;
    border-radius: 10px;
}

#tools a:active {
	box-shadow: 0px 0px 1px 1px black inset;
}

#tools:hover .hdn {
    display: block;
    z-index: 999;
}

.hdn {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    background-color: #556172;
    border-radius: 0 0 10px 10px;
}

#title {
    background-color: #B8C569;
    padding: 20px 30px 30px 20px;
    margin: 20px 0;
    color: #3C4313;
    position: relative;
    border-radius: 16px;
}

/** A little hacky to create arrows without images **/
.about {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-bottom: 10px solid #BAC36E;
	border-top: 0;
	position: absolute;
	top: -10px;
	left: 155px;
}

#title h1 {
    font-size: 48px;
    margin: 0;
}

#title h1 a {
    text-decoration: none;
    color: inherit;
}

#title h2 {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

/** Main content **/

#main {
    background-color: #314660;
    /*background: -webkit-gradient(linear, left top, left 30%, from(#314660), to(#364B66));*/
    border-radius: 0 0 16px 16px;
    padding: 20px;
}

/** Post **/

.post {
    clear: both;
}

.empty {
    clear: both;
    font-weight: bold;
    margin: 20px;
}

.post-data {
	margin-left: 540px;
	width: auto;
	word-wrap: break-word;
}

.post .post-title {
    margin: 0;
    word-wrap: break-word;
    /*overflow: hidden;*/
}

.post .post-title a {
    font-size: 27px;
    color: #f6ffa6;
    text-decoration: none;
}

.post .post-title a:hover {
	color: #69b8c4;
}

.post .post-title a:active {
	color: #c4a369;
}


.post .post-metadata {
    color: #BAC36E;
    font-size: 70%;
}

.post .post-author {
    font-size: 130%;
    font-weight: bold;
}

.post .post-metadata a {
    color: #f6ffa6;
    text-decoration: none;
}

.post .post-metadata a:hover {
    color: #69b8c4;
}

.post .post-metadata a:active {
    color: #c4a369;
}

.post .post-metadata .actions .buttons {
    padding: 10px 10px;
    color: #fff;
    font-size: 130%;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}

.post .post-metadata .actions .comment {
	border-radius: 10px 0px 0px 10px;
}

.post .post-metadata .actions .like, .post .post-metadata .actions .unlike {
	border-radius: 0px 10px 10px 0px;
}

.post .post-metadata .actions .comment {
	background-color: #B8C569;
}

.post .post-metadata .actions .comment:hover {
	background-color: #3C4313;
}

.post .post-metadata .actions .comment:active {
	box-shadow: 0px 0px 3px 1px black inset;
}

.post .post-metadata .actions .like {
	background-color: #69B8C4;
}

.post .post-metadata .actions .like:hover {
	background-color: #253142;
}

.post .post-metadata .actions .like:active {
	box-shadow: 0px 0px 3px 1px black inset;
}

.post .post-metadata .actions .unlike {
	background-color: #253142;
}

.post .post-metadata .actions .unlike:hover {
	background-color: #69B8C4;
}

.post .post-metadata .actions .unlike:active {
	box-shadow: 0px 0px 3px 1px black inset;
}

.post .post-content {
    position: relative;
    background-color: #fff;
    padding: 10px;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
    max-width: 500px;
}

.post .about {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	border-top: 0;
	position: absolute;
	top: -6px;
	left: 24px;
}

.post-header {
    margin-bottom: 20px;
    background-color: #354152;
    padding: 20px 20px 5px 20px;
    border-radius: 10px;
/*    -webkit-box-shadow: 0 2px 0 #BBBBBB;*/
}

.front {
    float:left;
    margin: 0 0 20px 0;
}

.break {
    margin-bottom: 25px;
    clear: both;
	height: 2px;
	border-width: 0;
	background-color:#405572;
}

.social-buttons {
	margin: 10px 0px 5px 0px;
}
.social-buttons .fb-like {
	vertical-align: top;
	margin-bottom: 4px;
}

/** Older posts **/

.older-posts h3 {
    color: #869AB1;
    font-size: 28px;
    margin-bottom: 15px;
}

.older-posts h3 .from {
    font-weight: normal;
    font-size: 70%;
}

.older-posts .post {
    margin-bottom: 15px;
    border-left: 3px solid #869AB1;
    padding-left: 10px;
}

.older-posts .post-title a {
    padding: 0;
    color: #131921;
    font-size: 20px;
}

.older-posts .post-metadata {
    color: #869AB1;
    padding: 0;
    font-size: 12px;
}

.older-posts .post-metadata a {
    color: #869AB1;
}

/** Comments **/

.comments {
    margin-bottom: 30px;
}

h3 {
    color: #869AB1;
    font-size: 18px;
    margin-bottom: 10px;
}

h3 span {
    font-size: 80%;
}

#profile {
    color: #00a5f0;
	font-size: 24px;
	margin-top: 30px;
}

.comment {
    width: 70%;
    clear: both;
}

.comment .comment-metadata {
    color: #869AB1;
    display: block;
    font-size: 50%;
    display: block;
    float: left;
    width: 80px;
    text-align: right;
}

.comment .comment-author {
    font-size: 150%;
    font-weight: bold;
    display: block;
}

.comment .comment-author a {
    text-decoration:none;
    color: #E4EAFF;
}

.comment .comment-author a:hover {
	color: #69b8c4;
}

.comment .comment-author a:active {
	color: #c4a369;
}

.comment .comment-content {
    position: relative;
    background-color: #E4EAFF;
    color: #242C58;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.comment .about {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-top: 10px solid transparent; 
	border-bottom: 10px solid transparent;
	border-right: 10px solid #E4EAFF;
	border-left: 0;
	position: absolute;
	top: 4px;
	left: -4px;
}

/** Form **/

a.file-url {
	color: #F6FFA6;
	text-decoration: none;
	font-size: 80%;
	font-weight: bold;
}

a.file-url:hover {
	color: #69B8C4;
}

form {
    padding: 10px;
    background-color: #253142;
/*    background: -webkit-gradient(linear, left top, left 60%, from(#253142), to(#364B66));*/
    border-radius: 10px;
}

form.signup, form.settings {
	width: 600px;
}

form.upload {
	width: 730px;
}

form .error {
    background-color: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    border-radius: 6px;
}

form p {
    margin: 5px 0 0 0;
}

form textarea {
    width: 70%;
    height: 150px;
}

form input, form textarea {
    font-size: 14px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 90%;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 3px;
}

form legend {
	color: #B8C569;
	font-weight: bold;
	font-size: 120%;
}

.image-requirements {
	font-size: 70%;
	color: #AAA;
}

.input-file {
	color: #AAA;
}

#captcha{
    display: block;
    height: 50px;  
}

.success {
    background-color: #67AD10;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
    position: relative;
}

.success .close {
	/*float: right;*/
	position: absolute;
	top: 8px;
	right: 8px;
    border: 3px solid white;
    border-radius: 15px;
    padding: 0 5px 0 5px;
    margin-bottom: 22px;
    text-decoration: none;
    background-color: #345608;
    color: #fff;
    font-weight: bold;
}

.success .close:hover {
	background-color: #274006;
	cursor: pointer;
}

.success .close:active {
	border-style: inset;
}

.asterisk-required {
	color: red;
	font-size: 60%;
}

/** Pagination **/

#pagination {
    list-style: none;
    padding: 0;
    position: relative;
    color: #869AB1;
    font-size: 90%;
    top: -5px;
    margin-bottom: 50px;
}

#pagination a {
    font-size: 120%;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 16px;
    padding: 5px;
    text-decoration: none;
    background-color: #B8C569;
    color: #3C4313;
    display: block;
    width: 200px;
    text-align: center;
}

#pagination a:hover {
    background-color: #253142;
    color: #F6FFA6;
}

#pagination a:active {
	border-style: inset;
}

#pagination #previous {
    position: absolute;
    top: 0;
    left: 0;
}

#pagination #next {
    position: absolute;
    top: 0;
    right: 0;
}

/** Footer **/

#footer {
    border-top: 1px solid #45597A;
    font-size: 70%;
    padding: 10px 30px;
    text-align: center;
    color: #869AB1;
    margin-top: 30px;
    clear: both;
}

#footer a {
    color: #869AB1;
    font-weight: bold;
}

/** Admin **/

.tags-list .tag {
    cursor: pointer;
    color: red;
    padding: 1px 4px;
}

#adminMenu {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#adminMenu li {
    display: inline;
}

#adminMenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 80%;
    background-color: #591C64;
    padding: 2px 10px;
    border-radius: 9px;
}

#adminMenu li.selected a {
    background-color: #82A346;
}

#crudContent {
    color: #8B98AD;
}

#crudContent h2 {
    color: #EDC3CD !important;
}

#crudContent thead tr {
    background-color: #512162 !important;
}

#crudContent table {
    border: none !important;
}

#crudContent table td {
    color: #444;
}

tr.odd {
    background-color: #BECCE7 !important;
}

#crud #crudContent, #crudContent form, #crudListSearch, #crudListPagination, .crudButtons {
    background: transparent;
    border: none;
    padding: 0;
}

#crudListTable {
    margin: 10px 0;
}

.crudField, .objectForm {
    border: none;
    padding-left: 0;
}

.crudField label {
    color: #B8FA5C;
}

.crudHelp {
    color: #fff !important;
}

.crudField .tag {
    color: #111;
    font-size: 80%;
}

.crudButtons input {
    font-size: 110%;
}

.crudButtons {
    margin-top: 20px;
    border-top: 1px dotted #8B98AD;
    padding-top: 10px;
}

.crudFlash {
    border: 0;
    border-radius: 8px;
    font-size: 80%;
    padding: 2px 10px;
}

.crudField .tag.selected {
    background-color: #222;
    color: #fff;
    border-radius: 8px;
}

.crudField .error {
    background: transparent;
    border: none;
    padding: 0;
    color: pink;
}

/** Login **/

#login form {
    background-color: #8B98AD !important;
    border: 0 !important;
    border-radius: 16px;
}
/*
#login label, #password-field label, #username-field label {
    color: #161D28 !important;
    font-size: 110% !important;
}


#remember-field {
    display: none;
}
*/
/** My posts **/

#admin .post {
    background-color: #fff;
    padding: 4px;
    margin: 0;
    font-size: 90%;
}

#admin .post.odd {
    background-color: #C0CBE5;
}

#admin .post a {
    color: #444;
}

#newPost {
    border-top: 1px dotted #C0CBE5;
    padding-top: 15px;
    clear: both;
}

#newPost a {
    background-color: #00a5f0;
    border-radius: 12px;
	border: 2px solid #ddd;
    padding: 5px 10px;
    font-size: 80%;
    text-decoration: none;
    color: #eee;
    font-weight: bold;
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

#newPost a span {
    background-color: #7D510E;
    border-radius: 8px;
    padding: 0 5px 2px 5px;
    position: relative;
    top: -1px;
}

#postContent {
    width: 100%;
    height: 300px;
}

.hasError {
    background-color: pink;
}

#menu {
	margin: 0px 0px 10px 20px;
	float: right;
    font-size: 100%;
    font-weight: bold;
}

#menu .nav {
    border: 3px solid white;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    background-color: #B8C569;
    color: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

#menu .nav:hover {
	background-color: #3C4313;
}

#menu .nav:active {
	border-style: inset;
}

#menu .buttons {
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    font-size: 80%;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

#menu .hidden {
	display: none;
}

.hidden {
	display: none;
}

#menu .deletepost {
	background-color: #c00074;
}

#menu .deletepost:hover {
	background-color: red;
}

#menu .deletepost:active {
	box-shadow: 0px 0px 3px 1px black inset;
}

#menu .like {
	background-color: #69B8C4;
}

#menu .like:hover {
	background-color: #253142;
}

#menu .like:active {
	box-shadow: 0px 0px 3px 1px black inset;
}

#menu .unlike {
	background-color: #253142;
}

#menu .unlike:hover {
	background-color: #69B8C4;
}

#menu .unlike:active {
	box-shadow: 0px 0px 3px 1px black inset;
}

.split{
    width: 40%;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}

.menu-container {
	position: relative;
}

.filter-bar {
    margin-bottom: -10px;
    background-color: #405572;
    height: 40px;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
	background: -moz-linear-gradient(top, #405572, #304562 50%, #102542);  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #405572), color-stop(.5, #304562), to(#102542));
}

h2.profile-header {
	color: #f6ffa6;
}

.profile-bar {
	width: 280px;
	border: 2px solid #869AB1;
	border-bottom: 0;
	border-radius: 10px 10px 0 0;
	margin: 25px -20px 25px -20px;
}

.filter-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

.filter-bar ul.content-type li {
    float: left;
}

.filter-bar ul.content-type li a {
    display: block;
    width: 100px;
    text-align: center;
    color: #B8C569;
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 20px 10px 20px;
}

.filter-bar ul.content-type li a:hover {
	color: #69b8c4;
	background-color: #293e58;
}

.filter-bar ul.content-type li a:active {
	color: #c4a369;
}

.filter-bar ul.content-type li a.current {
    color: #c4a369;
    background-color: #314660;
}

.filter-bar a.random {
    text-align: center;
    display: block;
    float: right;
    margin: 0;
    height: 40px;
    width: 100px;
    text-decoration: none;
    color: #B8C569;
    font-size: 80%;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}

.filter-bar a.random:hover {
	color: #69b8c4;
	background-color: #293e58;
}

.filter-bar a.random:active {
	color: #c4a369;
}

#top-nav {
    position: absolute;
	top: 40px;
	left: 65px;
	display: none;
	height: 30px;
	background-color: #293e58;
    border-radius: 10px;
    background: -moz-linear-gradient(top, #405572, #304562 50%, #102542);  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #405572), color-stop(.5, #304562), to(#102542));
}

#top-nav a {
	float: left;
	width: 70px;
	text-decoration: none;
    text-align: center;
    color: #B8C569;
    font-size: 75%;
    font-weight: bold;
	padding-top: 7px;	
}

#top-nav a:hover {
	color: #69b8c4;
}

#top-nav a:active {
	color: #c4a369;
}

/** Tags **/

.tag-cloud {
    padding: 10px;
	display: block;
	background-color: #354152;
	margin: 20px;
	font-size: 80%;
    font-weight: bold;
	text-align: center;
    border-radius: 30px;
}

.tag-link {
	text-decoration: none;
	color: #ddd;
	font-size: 100%;
	margin: 3px;
}

.tag-link:hover {
	border-bottom: 1px solid #aaa;
	color: #eee;
}

/** Search **/

#search {
	float: right;
	text-align: center;
	margin: -30px -20px 0 0;
	width: 45%;
}

#search p {
	margin: 0px;
}