#{extends 'main.html' /}
#{set title:'scroll2lol: Posts tagged with ' + tag.name /}
 
#{if posts.size()}
	<h3>${taggedCount} post${taggedCount.pluralize()} tagged with '${tag.name}'</h3>
    #{list items:posts, as:'post'}
		#{display post:post, as:'compact', user:user /}
    #{/list}
#{/if}

#{else}
    <div class="empty">
        No posts tagged with '${tag.name}'.
    </div>
#{/else}
	
<ul id="pagination">
#{if nextPage!=1}
	#{if previousPage == 0}
		<li id="previous">
			<a href="@{Application.listTagged(tag.id, tag.name.slugify())}">previous</a>
		</li>
	#{/if}
	#{else}
		<li id="previous">
			<a href="@{Application.listTagged(tag.id, tag.name.slugify(), previousPage)}">previous</a>
		</li>
	#{/else}
#{/if}
#{if nextButton}
	<li id="next">
		<a href="@{Application.listTagged(tag.id, tag.name.slugify(), nextPage)}">next</a>
	</li>
#{/if}
</ul>